@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: white;
    --cinza-secundario: #c0c0c0;
    --azul-botao: #167bf7;
    --cor-de-fundo:#00030c;
    --font-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--azul-botao);
    border-radius: 0.313rem;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario{
    background-color: transparent;
    border: 0.125rem solid var(--branco-principal);
}

.container__aviso{
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 1rem;
    text-align: justify;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;

}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__logo{
    margin-bottom: 2.5rem;
}

.lista__link{
    font-size: 1rem;
    color: var(--cinza-secundario);
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    margin: 0 1.5rem 1.5rem 0;
}

.lista_link, a{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista_link, a:hover{
    text-decoration: none;
    color: var(--azul-botao)
}

.rodape__texto{
    font-size: 0.75rem;
    color: var(--cinza-secundario);
    justify-content: center;
}

.rodape__texto, p{
    text-align: center;
    margin-bottom: 1rem;
}